@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Padauk:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.font-playfair {
  font-family: "Playfair Display", serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-archivo {
  font-family: "Archivo", sans-serif;
}
.font-padauk{
    font-family: "Padauk", sans-serif;
}
.font-barlow{
    font-family: "Barlow Condensed", sans-serif;
}
.font-dm{
    font-family: "DM Serif Display", serif;
}

/* Masonry */

.my-masonry-grid {
  display: flex;
  margin-left: 6px;
  margin-right: 6px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 8px;
  padding-right: 8px;
  background-clip: padding-box;
  margin-bottom: 25px;
}

body{
 background-color: rgb(241, 241, 241);
 
}